.facets-item-cell-grid {
	@extend .item-cell;
	.cart-add-to-cart-button-container {
		width:100%;
	}
	.cart-add-to-cart-button-button {
		padding:20px 20px;
	}

	.cart-quickaddtocart-price {
		margin-bottom:$sc-margin-lv2;
	}
}

.facets-item-cell-grid-quick-view-wrapper {
	@extend .item-cell-quick-view-wrapper;
}

.facets-item-cell-grid-quick-view-link {
	@extend .item-cell-quick-view-link;
}

.facets-item-cell-grid-image-wrapper {
	position:relative;
	text-align:center;

	// TODO: Temp solution, may revisit later
	height: 190px;
}








.facets-item-cell-grid-details {
	text-align:left;
	.product-line-stock {
		text-align:left;
	}
	.cart-add-to-cart-button-container {
		padding: 0 0 $sc-padding-lv3 0;
	}
}

.facets-item-cell-grid-image {
	@extend .item-cell-image;
	width:auto;
	height:auto;
}

.facets-item-cell-grid-title {
	@extend .item-cell-title;
	color: #2E3C97;
	font-size: 1.286rem;
	line-height: 1.1;
	padding: 10px 0 0px 0;
	margin: 10px 0 0 0;

	&:hover{
		color:#138CFF;
	}
}

.facets-item-cell-grid-price {
	@extend .small-price;
	margin-bottom:$sc-margin-lv2;
}

.facets-item-cell-grid-rating {
	text-align:left;
	display: inline-block;
}

.facets-item-cell-grid {
	.global-views-star-rating-area {
		margin-bottom:$sc-margin-lv2;
	}
}

.facets-item-cell-grid-stock-message {
	text-align:left;
}
